DB_HOST=10.20.30.3
DB_PORT=3306
DB_USER=nas_user
DB_PASSWORD=senha123
DB_NAME=nas_db

STORAGE_PATH=/mnt/nas

JWT_SECRET=valor-temporario
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

FRONTEND_ORIGIN=http://10.20.30.1

APP_HOST=10.20.30.2
APP_PORT=8000
